* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}

.parent {
  width: 100vw;
  height: 100vh;
  background-color: rgb(243, 224, 226);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 800px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 15px 0px rgb(83, 82, 82);
  display: flex;
  overflow: hidden;
}

.column_1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.column_2 {
  flex: 1;
  background: linear-gradient(to right, rgb(255, 70, 76), rgb(255, 65, 105));
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.column_1 > div:first-child {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}
.column_1 > div:nth-child(2) {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
.image {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(206, 201, 201);
  border-radius: 50%;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content_1 {
  margin-bottom: 5px;
}
.rectangle {
  background-color: rgb(239, 238, 238);
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  color: gray;
}
.content_2 {
  margin-top: 10px;
  margin-bottom: 30px;
}
.column_1 > div:last-child {
  padding: 12px 40px;
  border-radius: 30px;
  background-color: rgb(255, 75, 43);
  color: white;
}
.column_2 > div:first-child {
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.column_2 > div:last-child {
  color: white;
  text-align: center;
  opacity: 0.6;
}
.child {
  position: fixed;
  background-color: black;
  right: 20px;
  bottom: 20px;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .parent {
    padding: 20px;
  }
  .square {
    flex-direction: column;
  }
  .column_2 {
    padding: 20px;
  }
}
